# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Base - startingpoint for all
#
#   - UTF-8
#   - Unix style newlines
#   - No trailing whitespace
#   - No final newline
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = false

# CoffeeScript
[*.coffee]
indent_style = space
indent_size = 2

# JS and Typescript
[*.{js,jsx, ts,tsx}]
indent_style = space
indent_size = 2

# LESS
[*.less]
indent_style = space
indent_size = 4

# MJML
[*.mjml]
indent_style = space
indent_size = 2

# HTML
[*.html]
indent_style = space
indent_size = 4

# Python
[*.py]
indent_style = space
indent_size = 4

# RC files
[vimrc]
indent_style = space
indent_size = 4

# Makefile
[Makefile]
indent_style = tab

# Tex
[*.{tex, bib}]
indent_style = space
indent_size = 2

# Placeholder
[externals/**]
; Use editor default (possible autodetection).
indent_style =
indent_size =
trim_trailing_whitespace = false
insert_final_newline = false
